@font-face {
    src: url(/assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
    font-family: "Noto Sans";
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Noto Sans";
    min-height: 100vh;
}

.inner_body {
    max-width: 1920px;
    margin: auto
}

.d_none {
    display: none !important;
}

h2 {
    font-size: 32px;
}

h3 {
    margin: 0;
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}

.margin {
    margin: 8px;
}

.no_margin {
    margin: 0;
}

.arrow_right {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 30px solid #FF8000; 
}

.close {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-right: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 500px) {
    .arrow_right {
      display: none;
    }
  }