  .app_logo {
    height: 80px;
    width: auto;
  }

  .logo_pictures {
    height: 280px;
    width: 100%;
    object-fit: cover;
  }

  .restaurant_logo {
    display: flex;
    justify-content: center;
    padding-left: 45%;
    position: absolute;
    padding-top: 200px;
  }

  .restaurant_logo_pic {
    height: 160px;
    width: auto;
    border-radius: 50%;
    border: 2px solid rgba(128, 128, 128, 0.322);
  }
  
  #restaurants_content {
    background-color: #F5F3F1;
  }

  .restaurants_head {
    margin: 0 16px;
  }

  .rating {
    color: rgb(233, 161, 4);
  }

  .course_navigator {
    display: flex;
    background-color: #d1d0cb;
    align-items: center;
    gap: 12px;
    padding: 8px;
    font-size: 20px;
    justify-content: center;
  }

  .course {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
    align-items: center;
  }

  .products_picture {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product_pictures_details {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
    align-items: center;
  }

  .inner_products {
    border-color: rgba(128, 128, 128, 0.322);
    border-style: solid;
    border-width: 2px;
    width: 90%;
  }

  .dessert_products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
    align-items: center;
    padding-bottom: 80px;
  }

  .add_to_card{
    display: flex;
    justify-content: end;
  }

  .plus_img {
    height: 32px;
    width: auto;
    padding: 4px;
  }

  .plus_img:hover {
    height: 36px;
    cursor: pointer;
    padding: 2px;
  }

  #openbasket_icon {
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    padding-top: 160px;
    max-width: 1920px;
  }

  #openbasket {
    width: 80px;
    height: 80px;
    background-color: #FF8000;
    border-radius: 8px 0px 0px 8px;
    border-right: rgba(128, 128, 128, 0.322);
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #openbasket:hover {
    cursor: pointer;
  }

  .basket_img {
    width: 64px;
    height: 64px;
  }

  #basket {
    display: flex;
    justify-content: end;
    
  }

  .inner_basket {
    position: fixed;
    background-color: white;
    margin-top: 160px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 680px;
  }

  .basket_margin {
    margin-right: 320px;
  }

  .basket_head {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #FF8000;
    padding: 23.5px 0px;
    border-width: 2px;
    border-style: solid;
  }

  .basket_head_close {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 100%;
  }

  .basket_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 456px;
    margin:16px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 8px;
    border-left: 2px solid rgba(128, 128, 128, 0.322);
    border-right: 2px solid rgba(128, 128, 128, 0.322);
    border-bottom: 2px solid rgba(128, 128, 128, 0.322);
  }

  .basket_content_divs {
    width: 100%;
    border-top: 2px solid rgba(128, 128, 128, 0.322);
    border-bottom: 2px solid rgba(128, 128, 128, 0.322);
    padding-left: 10px;
  }

  .order {
    width: 100%;
  }

  .order_button {
    width: 100%;
    height: 40px;
    background-color: #FF8000;
    font-size: 24px;

  }

  .content_head {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .content_foot {
    display: flex;
  }

  .content_price {
    width: 50%;
  }

  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .basket_input {
    width: 15%;
    height: 50%;
    font-size: 18px;
    text-align: center;
    border: rgba(128, 128, 128, 0.322);
    border-width: 2px;
    border-style: solid;
    border-radius: 4px; 
  }

  .input_value {
    font-size: 32px;
  }

  .input_value:hover {
    font-size: 34px;
    border: #FF8000;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px; 
  }

  #order_overlay {
    height: 40%;
    width: 50%;
    background-color: #FF8000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
  }

  #overlay_p {
    font-size: 80px;
    text-align: center;
  }
   
  @media (max-width: 1150px) {
    #overlay_p {
      font-size: 40px;
    }
  }

  @media (max-width: 750px) {
    .restaurant_logo {
      padding-top: 176px;
      padding-left: 33%;
    }
    
    .restaurant_logo_pic {
      height: 120px;
    }
  }

  @media (max-width: 520px) {
    .course_navigator {
      flex-direction: column;
      gap: 24px;
    }
    #overlay_p {
      font-size: 20px;
    }
    .restaurant_logo {
      display: none;
    }
  }

  @media (max-width: 400px) {
    .inner_basket {
      width: 100%;
      height: 100%;
      max-height: 100vh;
      margin-top: 0px;
    }
    .basket_margin {
      margin: 0;
    }
    #openbasket_icon {
      padding-top: 0px;
    }
    .basket_content {
      max-height: 320px;
    }  
    
  }